/* ==================================== 
   Google Fonts
==================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ==================================== 
   CSS Variables
==================== */

/* ============ Main Colors  ============== */
/* Blue - hsl(217, 85%, 74%); */
/* Purple - hsl(245, 54%, 74%); */
/* Teal - hsl(181, 47%, 49%); */
/* Yellow - hsl(65, 60%, 70%); */
/* Green - hsl(162, 60%, 65%); */
/* Red - hsl(356, 67%, 70%); */
/* Pink - hsl(330, 73%, 72%); */

:root {
  --hue: 217;
  --sat: 85%;
  --light: 74%;

  --primary-color: hsl(var(--hue), var(--sat), var(--light)); /* Primary */
  --white-color: hsl(var(--hue), 45%, 98%); /* White */
  --dark-color: hsl(var(--hue), 26%, 12%); /* Dark */

  /* ============ Changeable colors for dark/light themes ============== */
  --color-01: hsl(var(--hue), var(--sat), var(--light)); /* primary to dark */
  --color-02: hsl(var(--hue), 45%, 98%); /* white to dark */
  --color-03: hsl(var(--hue), 26%, 12%); /* dark to white */
  --color-04: hsl(var(--hue), 0%, 62%); /* Light-gray to dark-gray */
  --color-05: hsl(var(--hue), 26%, 12%); /* dark to primary */

  --body-color: hsl(250, 26%, 12%); /* Dark */
  --hover-color: hsl(var(--hue), var(--sat), calc(var(--light) - 7%)); /* Dark */

  /* ============ Background colors ============== */
  --bottom-nav-bg: hsl(var(--hue), 32%, 25%, 0.65); 
  --card-bg: linear-gradient(120deg, hsl(var(--hue), 54%, 74%, 0.15), hsl(var(--hue), 54%, 74%, 0.05));
  --modal-backdrop-bg: hsl(var(--hue), 54%, 74%, 0.1);
  --footer-bg: linear-gradient(360deg, hsl(var(--hue), 54%, 74%, 0.15), hsl(var(--hue), 54%, 74%, 0.1));

  --scrollbar-color: hsl(var(--hue), 25%, 20%);
  --scrollbar-thumb: hsl(var(--hue), var(--sat), var(--light));
  --scrollbar-thumb-hover: hsl(var(--hue), var(--sat), calc(var(--light) - 7%));

  /* ============ Font and typography ============== */
  --body-font-family: 'Inter', sans-serif;

  /* ============ Font sizes ============== */
  --h1-font-size: 2.85rem;
  --h2-font-size: 2.25rem;
  --h3-font-size: 1.97rem;
  --h4-font-size: 1.43rem;
  --h5-font-size: 1.13rem;

  --xlarge-font-size: 1.48rem;
  --large-font-size: 1.23rem;
  --medium-font-size: 1.18rem;
  --base-font-size: 1.1rem;
  --small-font-size: 1.07rem;
  --tiny-font-size: 0.98rem;

  /* ============ Font weights ============== */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* ============ Layering order (z-index) ============== */
  --z-minus: -1;
  --z-base: 0;
  --z-low: 1;
  --z-high: 10;
  --z-content: 100;
  --z-tooltip: 1000;
  --z-fixed: 1100;
  --z-overlay: 1110;
  --z-modal: 1990;
  --z-max: 9999;
}

/* ======================================
         Reset / Normalize
====================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family);
}

ul, li {
  list-style: none;
}

a {
  color: var(--color-04);
  text-decoration: none;
  cursor: pointer;
}

/* ======================================
         Base Styles
====================================== */
html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-04);
  background: var(--body-color);
  transition: 0.3s;
}

/* ======================================
         Reusable Styles
====================================== */
.sue-container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

/* ======================================
         Buttons
====================================== */

.sue-main-btn {
  width: fit-content;
  padding: 14px 30px;
  border-radius: 35px;
  cursor: pointer;
  transition: .3s;

}

.sue-main-btn:hover {
  color: var(--white-color);
  background: var(--hover-color);
  border: 2px solid var(--hover-color);
}

.sue-main-btn a{
   color: var(--color-01);
   font-size: var(--small-font-size);
   font-weight: 500;
   transition: .3s;
}

.sue-main-btn:hover a{
   color: var(--white-color);
}

.border-btn{
   border: 2px solid var(--color-01);
}



/* ======================================
         Header
====================================== */
.sue-header {
  z-index: var(--z-fixed);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
  transition: 0.3s ease;
}

.sue-header .inner{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.sue-logo a{
   color: var(--color-01);
   font-size: 2.6rem;
   font-weight: var(--font-semibold);
   letter-spacing: -3px;
   transition: .3s;
}

.sue-logo a:hover{
   color: var(--hover-color);

}

.header-btns{
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 25px;
}

.lets-talk-icon{
   color: var(--color-01);
   font-size: 1.8rem;
   cursor: pointer;
   transition: .3s;
   display: none;
}

.lets-talk-icon:hover{
   color: var(--hover-color);
}


/* ======================================
         Dark/Light Theme buttons
====================================== */
.theme-btn{
   position: relative;
   display: flex;
   justify-content: end;
   align-items: center;
   width: 27px;
   cursor: pointer;
}

.theme-btn i{
   position: absolute;
   color: var(--color-01);
   font-size: 1.7rem;
   cursor: pointer;
   transition: .3s;
}

.theme-btn:hover i{
   color: var(--hover-color);
   transform: rotate(-15deg);
}

.theme-btn .moon-icon{
   display: none;
}

/* Puedes continuar agregando el resto de estilos a partir de aquí */
